@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Poppins:wght@400;700&display=swap');

/* Global */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

h2 {
    font-size: 40px;
    font-family: 'Poppins', Helvetica, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    border-radius: 10px;
}

/* Hero section */

.hero {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 120px 80px 120px;
}

/* Hero > Nav */

.nav {
    padding: 20px 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #F9FAF8;
}

.logo {
    height: auto;
    width: 150px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 30px;
}

/* Hero > Header */

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 64px;
}

.header h1,
.header p {
    color: #FAF9F6;
}

.header h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.2;
}

.header p {
    font-size: 16px;
    line-height: 1.5;
}

.hero-image {
    height: auto;
    width: 1400px;
}

/* Team section */

.team {
    padding: 20px 160px 0px 160px;
    text-align: center;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
}

.card {
    width: 300px;
    flex: 0 1 auto;
}

.member.name {
    font-size: 22px;
    font-weight: 600;
    margin: 14px 0 0 0;
}

.member.role {
    font-size: 18px;
    margin: 5px 0 16px 0;
}

/* Quote section */

.quote {
    background-color: #E5E7EB;
    padding: 100px 120px 80px;
}

.quote figure {
    margin: 0 auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}

.quote blockquote {
    flex: initial;
    align-self: flex-start;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.quote figcaption {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
}

/* CTA section */

.cta {
    padding: 80px 120px;
}

.cta-card {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 20px 100px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.cta-card div {
    flex: 3 3 0;
    justify-self: flex-end;
}

.cta-card button {
    flex: 1 1 0;
    max-width: max-content;
    justify-self: flex-start;
    border: 1px solid #F9FAF8;
}

.cta-card h2 {
    font-size: 20px;
    line-height: 1;
    margin: 16px 0 12px 0;
}

.cta-card p {
    font-size: 14px;
    margin: 0 0 14px 0;
}

/* Footer section */

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.footer p {
    color: #F9FAF8;
    font-size: 13px;
}